/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * VektoRace implementation : © <Pietro Luigi Porcedda> <pietro.l.porcedda@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

/* ------------------------------- */
/* --- SCROLLABLE MAP ELEMENTS --- */
/* ------------------------------- */
/* #region SCROLLABLE MAP */

#map_container {
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 400px;
}

#map_scrollable, #map_scrollable_oversurface {
    position: absolute;
}

#map_scrollable_oversurface {
	pointer-events: none;
}

#map_scrollable_oversurface > *{
	pointer-events: initial;
}

#map_surface {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: move;
}

#map_footer {
    text-align: center;
}

/* map move arrows */
.movetop,.moveleft,.moveright,.movedown {
    display: block;
    position: absolute;
    background-image: url('../../../img/common/arrows.png');
    width: 32px;
    height: 32px;
}

.movetop {
    top: 0px;
    left: 50%;
    background-position: 0px 32px;
}

.moveleft {
    top: 50%;
    left: 0px;
    background-position: 32px 0px;
}

.moveright {
    top: 50%;
    right: 0px;
    background-position: 0px 0px;
}

/* doesn't work? */
.movedown {
    bottom: 0px;
    left: 50%;
    background-position: 32px 32px;
}

/* #endregion */

/* --------------------- */
/* --- GAME ELEMENTS --- */
/* --------------------- */

/* every game element needs to be translated so that coodinates indicates its center.
   every game element is scaled from its original size, uniformed to 500px unit octagon size, to 100px unit octagon, thus a scale of 0.2 */
.gameElement {
    transform: translate(50%, 50%) scale(0.2);
}

/* ++++++++++++++++++ */
/* #region CONTAINERS */

/* container for all concrete table elements that do not need to catch user input (cars, curves, pitwall, vectors) */
#track {
    position: relative;
    transform-origin: top left;
    /* debug */
    /* border: solid;
    border-color: blue;
    border-width: 5px; */
}

/* container for all abstract elements that need catch user input (area of placement region, octagon highlight as possible moove) */
#touchable_track {
    position: relative;
    transform-origin: top left;
    pointer-events: none;
}

/* needed to make input fall to child elements */
#touchable_track > *{
	pointer-events: initial;
}

#pos_highlights {
    pointer-events: none;
}

#pos_highlights > *{
	pointer-events: initial;
}

/* #endregion */

/* ++++++++++++ */
/* #region CARS */
.car {
    background-image: url('img/cars_pitwall_abstracts.png');
    width: 500px;
    height: 500px;
    background-position-x: -500px;
}

/* BLUE */
#car_0000ff {
    background-position-y: 0px;
}

/* GREEN */
#car_008000 {
    background-position-y: -500px;
}

/* RED */
#car_ff0000 {
    background-position-y: -1000px;
}

/* YELLOW */
#car_ffa500 {
    background-position-y: -1500px;
}

/* GREY */
#car_preview {
    background-position-y: -2000px;
}

/* #endregion */

/* ++++++++++++++ */
/* #region CURVES */
.curve {
    background-image: url('img/curves_and_icons.png');
    width: 353px;
    height: 353px;
}

#curve_1 {
    background-position: 0px 0px;
}

#curve_2 {
    background-position: -353px 0px;
}

#curve_3 {
    background-position: -706px 0px;
}

#curve_4 {
    background-position: -1059px 0px;
}

#curve_5 {
    background-position: 0px -353px;
}

#curve_6 {
    background-position: -353px -353px;
}

#curve_7 {
    background-position: -706px -353px;
}

#curve_8 {
    background-position: -1059px -353px;
}

/* #endregion */

/* ++++++++++++++++++++++++ */
/* #region DIRECTION ARROWS */
.directionArrow {
    background-image: url('img/curves_and_icons.png');
    width: 144px;
    height: 250px;
}

/* makes clickable area larger */
.directionArrow::after {
    content: "";
    position: absolute;
    transform: translate(-171px,-112px); /* !!RECALC */
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, .0);
    border-radius: 100%;
}

.blackArrow {
    background-position: -500px -1000px;
}

.whiteArrow {
    background-position: -645px -1000px;
}

/* #endregion */

/* ++++++++++++++++++++ */
/* #region PITWALL AND GEAR VECTORS */

#pitwall {
    background-image: url('img/cars_pitwall_abstracts.png');
    width: 500px;
    height: 2000px;
}

.gearVector {
    background-image: url('img/gear_vectors.png');
    width: 500px;
}

.boostVector {
    background-image: url('img/boost_vectors.png');
    width: 500px;
}

.vector_1 {
    height: 500px;
    background-position: -500px 0px;
}

.vector_2 {
    height: 1000px;
}

.vector_3 {
    height: 1500px;
    background-position: 0px -1000px;
}

.vector_4 {
    height: 2000px;
    background-position: -500px -500px;
}

.vector_5 {
    height: 2500px;
    background-position: -1000px 0px;
}

.boostPreview {
    filter: brightness(.7);
}

.boostPreview:hover {
    z-index: +1;
    filter: brightness(1);
}

/* #endregion */
/* boost vectors will copy exact style of vectors and change only background-image */

/* ++++++++++++++++++++++++++++++++++++++++++ */
/* #region GEAR SELECTION WINDOW AND PREVIEWS */

.selWinVectorPreview {
    display: inline-block;
    margin: 100px;
    position: relative;
}

#dialogWindowContainer {
    width: 500px;
    height: 400px;
    position: relative
}

#gearSelectionWindow {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: scale(0.12);
    overflow-x: visible;
    white-space: nowrap
}

.vecPrev_active:hover {
    border: 40px solid white;
    margin: 60px;
    border-radius: 20px;
    transform: translate(0px,-100px);
}

.vecPrev_inactive {
    opacity: 40%;
}

/* .vecPrev_current {

} */

/* .vecPrev_purchasable {
    
} */

/* .vecPrev_blocked {
    
} */

/* .hlGearVector {
    border: 40px solid white;
    margin: 60px;
    border-radius: 20px;
    transform: translate(0px,-100px);
} */

#gearDotHighlight {
    width: 10px;
    height: 10px;
    border: 5px solid red;
    border-radius: 100%;
    pointer-events: none;
}

/* #endregion */

/* +++++++++++++++++++++++++ */
/* #region ABSTRACT ELEMENTS */

/* square grid used during development to easly identify elements position */
#bggrid {
    position: relative;
    top: -500px;
    left: -500px;
    height: 1000px;
    width: 1000px;
    position: absolute;
    background-image: url('img/1000x1000px grid 50px square.png');
    opacity: 0.3;
}

#start_positioning_area {
    position: absolute;
    width: 100px;
    height: 500px;
    background-color: rgba(255, 255, 255, .5);
}

.selectionOctagon {
    position: absolute;
    background-image: url('img/cars_pitwall_abstracts.png');
    background-position: -1000px 0px;
    width: 500px;
    height: 500px;
    opacity: 50%;
}

/* #endregion */

/* --------------------- */
/* --- PLAYER BOARD ---- */
/* --------------------- */
/* #region PLAYER BOARD */

.pbSpan {
    position: relative;
    margin: 10px;
}

.pbSpan > span {
    position: relative;
    bottom: 10px;
}

.pbSpan > .icon {
    display: inline-block;
}

.token {
    background-image: url('img/curves_and_icons.png');
    width: 250px;
    height: 250px;

}

.tireToken {
    background-position: 0px -1001px;
}

.nitroToken {
    background-position: -251px -1001px;
}

.lapIcon {
    background-image: url('img/curves_and_icons.png');
    background-position: -876px -1001px;
    width: 125px;
    height: 125px;
}

.standingsIcon {
    background-image: url('img/curves_and_icons.png');
    background-position: -876px -1126px;
    width: 125px;
    height: 125px;
}

.gearIndicator {
    background-image: url('img/curves_and_icons.png');
    width: 250px;
    height: 250px;
    background-position-y: -751px;
}

.gearInd_1{
    background-position-x: 0px;
}

.gearInd_2{
    background-position-x: -251px;
}

.gearInd_3{
    background-position-x: -501px;
}

.gearInd_4{
    background-position-x: -751px;
}

.gearInd_5{
    background-position-x: -1001px;
}

.gearInd_0{
    background-position-x: -1251px;
}



/* #endregion */