/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * VektoRace implementation : © <Pietro Luigi Porcedda> <pietro.l.porcedda@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

/*  global variables */
:root {
    --display-illegal: '';
}

/* ------------------------------- */
/* --- SCROLLABLE MAP ELEMENTS --- */
/* ------------------------------- */
/* #region SCROLLABLE MAP */

#map_container {
    position: relative;
    overflow: hidden;

    width: 100%;
    height: 500px;
}

#map_scrollable, #map_scrollable_oversurface {
    position: absolute;
}

#map_scrollable_oversurface {
	pointer-events: none;
}

#map_scrollable_oversurface > *{
	pointer-events: initial;
}

#map_surface {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: move;
}

#map_footer {
    text-align: center;
}

/* map move arrows */
.movetop,.moveleft,.moveright,.movedown {
    display: block;
    position: absolute;
    background-image: url('../../../img/common/arrows.png');
    width: 32px;
    height: 32px;
}

.movetop {
    top: 0px;
    left: 50%;
    background-position: 0px 32px;
}

.moveleft {
    top: 50%;
    left: 0px;
    background-position: 32px 0px;
}

.moveright {
    top: 50%;
    right: 0px;
    background-position: 0px 0px;
}

/* doesn't work? */
.movedown {
    bottom: 0px;
    left: 50%;
    background-position: 32px 32px;
}

/* #endregion */

/* ---------------------- */
/* --- UI COMPONENTS  --- */
/* ---------------------- */

/* ++++++++++++++++++ */
/* #region token incrementer */
#tokenSelectionWindow {
    width: 100%;
    background-color: rgba(255,255,255,0.5);
    margin-bottom: 10px;

    overflow: hidden;
    height: fit-content;
    transition: height 500ms;
}

#tokenSelectionDiv {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.incrementerDiv {
    width: 150px;
    display: inline-block;
    margin: 10px;
}

.incrementerDiv > .counterTitle {
    text-align: center;
}

.incrementerDiv > div {
    width: fit-content;
    margin: 8px;
    margin-left: auto;
    margin-right: auto;
}

.incrementerDiv > .tokenIncrementer {
    width: 60%;
}

.tokenIncrementer > * {
    display: inline-block;
}

.tokenIncrementer > input {
    position: relative;
    top: 1px;
    height: 20px;
    width: 30%;
    text-align: center;
    border: 2px solid lightslategrey;
}

.tokenIncrementer > button {
    height: 20px;
    width: 30%;
    border: 2px solid lightslategrey;
    background-color: lightgray;
}

button.minus {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

button.plus {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* #endregion */

#preferences > div {
    margin: 10px;
}

/* ++++++++++++++++++++++++++++++++++++++++++ */
/* #region GEAR SELECTION WINDOW AND PREVIEWS */

.selWinVectorPreview {
    display: inline-block;
    margin: 100px;
    position: relative;
}

#dialogWindowContainer {
    width: 500px;
    height: 400px;
    position: relative
}

#gearSelectionWindow {
    position: absolute;
    left: 0px;
    top: 0px;
    transform: scale(0.12);
    overflow-x: visible;
    white-space: nowrap
}

.vecPrev_active:hover {
    border: 40px solid white;
    margin: 60px;
    border-radius: 20px;
    transform: translate(0px,-100px);
}

.vecPrev_inactive {
    opacity: 40%;
}

/* .vecPrev_current {

} */

/* .vecPrev_purchasable {
    
} */

/* .vecPrev_blocked {
    
} */

/* .hlGearVector {
    border: 40px solid white;
    margin: 60px;
    border-radius: 20px;
    transform: translate(0px,-100px);
} */

#gearDotHighlight {
    width: 10px;
    height: 10px;
    border: 5px solid red;
    border-radius: 100%;
    pointer-events: none;
}

/* #endregion */


/* --------------------- */
/* --- GAME ELEMENTS --- */
/* --------------------- */

/* every game element needs to be translated so that coodinates indicates its center.
   every game element is scaled from its original size, uniformed to 500px unit octagon size, to 100px unit octagon, thus a scale of 0.2 */
.gameElement {
    transform: translate(50%, 50%) scale(0.2);
}

/* ++++++++++++++++++ */
/* #region CONTAINERS */

/* container for all concrete table elements that do not need to catch user input (cars, curves, pitwall, vectors) */
#track {
    position: relative;
    transform-origin: top left;
    /* debug */
    /* border: solid;
    border-color: blue;
    border-width: 5px; */
}

/* container for all abstract elements that need catch user input (area of placement region, octagon highlight as possible moove) */
#touchable_track {
    position: relative;
    transform-origin: top left;
    pointer-events: none;
}

/* needed to make input fall to child elements */
#touchable_track > *{
	pointer-events: initial;
}

#pos_highlights {
    pointer-events: none;
}

#pos_highlights > *{
	pointer-events: initial;
}

/* #endregion */

/* ++++++++++++ */
/* #region CARS */
.car {
    background-image: url('img/cars_pitwall_abstracts.png');
    width: 500px;
    height: 500px;
    background-position-x: -500px;
}

/* BLUE */
#car_0000ff {
    background-position-y: 0px;
}

/* GREEN */
#car_008000 {
    background-position-y: -500px;
}

/* RED */
#car_ff0000 {
    background-position-y: -1000px;
}

/* YELLOW */
#car_ffa500 {
    background-position-y: -1500px;
}

/* GREY */
#car_preview {
    background-position-y: -2000px;
}

/* #endregion */

/* ++++++++++++++ */
/* #region CURVES */
.curve {
    background-image: url('img/curves_and_icons.png');
    width: 353px;
    height: 353px;
}

#curve_1 {
    background-position: 0px 0px;
}

#curve_2 {
    background-position: -353px 0px;
}

#curve_3 {
    background-position: -706px 0px;
}

#curve_4 {
    background-position: -1059px 0px;
}

#curve_5 {
    background-position: 0px -353px;
}

#curve_6 {
    background-position: -353px -353px;
}

#curve_7 {
    background-position: -706px -353px;
}

#curve_8 {
    background-position: -1059px -353px;
}

/* #endregion */

/* ++++++++++++++++++++++++ */
/* #region DIRECTION ARROWS */
.directionArrow {
    background-image: url('img/curves_and_icons.png');
    width: 144px;
    height: 250px;
    z-index: 5;
}

/* makes clickable area larger */
.directionArrow::after {
    content: "";
    position: absolute;
    transform: translate(-171px,-112px); /* !!RECALC */
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, .0);
    border-radius: 100%;
}

.blackArrow {
    background-position: -500px -1000px;
}

.whiteArrow {
    background-position: -645px -1000px;
}

/* #endregion */

/* ++++++++++++++++++++ */
/* #region PITWALL AND GEAR VECTORS */

#pitwall {
    background-image: url('img/cars_pitwall_abstracts.png');
    width: 500px;
    height: 2000px;
}

.gearVector {
    background-image: url('img/gear_vectors.png');
    width: 500px;
}

.boostVector {
    background-image: url('img/boost_vectors.png');
    width: 500px;
}

.vector_1 {
    height: 500px;
    background-position: -500px 0px;
}

.vector_2 {
    height: 1000px;
}

.vector_3 {
    height: 1500px;
    background-position: 0px -1000px;
}

.vector_4 {
    height: 2000px;
    background-position: -500px -500px;
}

.vector_5 {
    height: 2500px;
    background-position: -1000px 0px;
}

.boostPreview {
    filter: brightness(.7);
}

.boostPreview:hover {
    z-index: +1;
    filter: brightness(1);
}

/* #endregion */
/* boost vectors will copy exact style of vectors and change only background-image */

/* +++++++++++++++++++++++++ */
/* #region ABSTRACT ELEMENTS */

/* square grid used during development to easly identify elements position */
#bggrid {
    position: relative;
    top: -500px;
    left: -500px;
    height: 1000px;
    width: 1000px;
    position: absolute;
    background-image: url('img/1000x1000px grid 50px square.png');
    opacity: 0.3;
}

#start_positioning_area {
    position: absolute;
    width: 100px;
    height: 500px;
    background-color: rgba(255, 255, 255, .5);
    /* transform: translate(-50%,-50%); */
}

.point {
    width: 50px;
    height: 50px;
    border: 20px solid greenyellow;
    border-radius: 100%;
    transform: translate(-50%, -50%) scale(0.2);
}

/* #region selection octagon */
.selectionOctagon {
    position: absolute;
    width: 500px;
    height: 500px;
}

.selectionOctagon:hover {
    z-index: 10;
}

.standardPos {
    background-image: url('img/cars_pitwall_abstracts.png');
    background-position: -1000px 0px;
    opacity: 60%;
}

.illegalPos {
    display: var(--display-illegal);
    background-image: url('img/curves_and_icons.png');
    background-position: -1000px -1500px;
    opacity: 50%;
    z-index: -2;
}

.tirePos {
    /* background-image: url('img/curves_and_icons.png');
    background-position: 0px -1500px; */
    background-image: url('img/curves_and_icons.png');
    background-position: 0px -1500px;
    opacity: 65%;
    /* filter: brightness(0.5); */
    z-index: -1;
}
/* #endregion */

/* #region turn position indicators */
    .turnPosIndicator {
        background-image: url('img/curves_and_icons.png');
        width: 250px;
        height: 250px;
        background-position-y: -1250px;
        position: absolute;
        opacity: 0;
        animation: flash 1s cubic-bezier(0, 0.5, 0.5, 1);
    }

    #turnPos_1{
        background-position-x: 0px;
    }

    #turnPos_2{
        background-position-x: -250px;
    }

    #turnPos_3{
        background-position-x: -500px;
    }

    #turnPos_4{
        background-position-x: -750px;
    }

    #turnPos_5{
        background-position-x: -1000px;
    }

    #turnPos_6{
        background-position-x: -1250px;
    }

    @keyframes flash {
        0% {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
    /* #endregion */
/* #endregion */

/* --------------------- */
/* --- PLAYER BOARD ---- */
/* --------------------- */
/* #region PLAYER BOARD */

    .player_score {
        opacity: 0;
    }

    .pbItem {
        position: relative;
        margin: 5px;
        display: inline-block;
        margin-right: 10px;
    }

    .pbItem > span {
        position: relative;
        bottom: 10px;
    }

    .icon {
        display: inline-block;
    }

    .pbItem > .icon {
        margin-right: 5px;
    }

    .bgabutton > .icon {
        position: relative;
        bottom: -5px;
        margin-top: -7px;
    }

    /* #region tokens */
    .token {
        background-image: url('img/curves_and_icons.png');
        width: 250px;
        height: 250px;
    }

    .tireToken {
        background-position: 0px -1000px;
    }

    .nitroToken {
        background-position: -250px -1000px;
    }
    /* #endregion */

    .lapIcon {
        background-image: url('img/curves_and_icons.png');
        background-position: -875px -1000px;
        width: 125px;
        height: 125px;
    }

    .standingsIcon {
        background-image: url('img/curves_and_icons.png');
        background-position: -875px -1125px;
        width: 125px;
        height: 125px;
    }

    /* #region gear indicators */
    .gearIndicator {
        background-image: url('img/curves_and_icons.png');
        width: 250px;
        height: 250px;
        background-position-y: -750px;
    }

    .gearInd_1{
        background-position-x: 0px;
    }

    .gearInd_2{
        background-position-x: -250px;
    }

    .gearInd_3{
        background-position-x: -500px;
    }

    .gearInd_4{
        background-position-x: -750px;
    }

    .gearInd_5{
        background-position-x: -1000px;
    }

    .gearInd_0{
        background-position-x: -1250px;
    }
    /* #endregion */

/* #endregion */


/* remove incrementers for input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number] { /* Firefox */
  -moz-appearance: textfield;
}